@use '#styles/variables.module.scss' as *;

.orders {
	// display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	// gap: 1rem;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
