@use '#styles/colors.module.scss' as *;

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $background-color;
	margin-bottom: 2rem;
	z-index: 999;
}
