@use '#styles/colors.module.scss' as *;
@use '#styles/variables.module.scss' as *;

.toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35rem;

	&.toggle-compact {
		gap: 0.25rem;

		.toggle-image {
			width: 10px;
			height: 10px;

			span {
				padding: 0 !important;
			}
		}

		.toggle-quantity {
			font-size: 0.8rem;
		}
	}

	&.toggle-horizontal {
		div:first-of-type {
			order: 3;
			transform: rotate(90deg);
		}

		div:last-of-type {
			order: 1;
			transform: rotate(-90deg);
		}
	}

	&.toggle-vertical {
		div:first-of-type {
			order: 1;
		}

		div:last-of-type {
			order: 3;
			transform: rotate(180deg);
		}
		div:last-of-type.toggle-image-one {
			transform: rotate(0deg);
		}
		div:last-of-type {
			order: 3;
			transform: rotate(180deg);
		}
	}

	&-image {
		position: relative;
		width: 20px;
		height: 20px;
		cursor: pointer;

		span {
			padding: 0.2rem !important;
		}
	}

	&-quantity {
		order: 2;
		background: $light-grey;
		border-radius: $radius;
		padding: 0.25em 0.75em;
	}
}
