@use '#styles/variables.module.scss' as *;
@use '#styles/colors.module.scss' as *;

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: lighten($color: $light-grey, $amount: 10);
	padding: 0.5rem 0.75rem;
	border-radius: $radius;
	border: 1px solid $card-info-border-color;

	&-toggle {
		margin: 0 1rem;
	}

	&-info {
		margin-right: auto;
		margin-left: 1rem;
	}

	&.cart-item-compact {
		$image-size: 3.5rem;

		& > span {
			width: $image-size !important;
			height: $image-size !important;
		}
	}

	& > span {
		border: 1px solid $card-info-border-color !important;
		border-radius: $radius;
	}
}
