$dark-grey: #333;
$light-grey: #eee;
$white: #fff;
$red: #df0000;

$card-info-background: rgba(#fff, 0.8);
$card-info-border-color: rgb(219, 219, 219);
$background-color: rgba(250, 250, 250, 1);

// INPUTS
$input-border: rgb(180, 180, 180);
$input-color: #333;
$input-background: rgb(240, 240, 240);
$input-border-focus: rgb(134, 134, 134);

// LINKS
$link-color: #333;

// LABELS
$label-color: #333;

// MODAL
$modal-background-color: rgba(0, 0, 0, 0.1);
