$dark-grey: #333;
$white: #fff;
$red: #df0000;

// INPUTS
$input-border: rgb(180, 180, 180);
$input-color: #333;
$input-background: rgb(240, 240, 240);
$input-border-focus: rgb(134, 134, 134);

// LINKS
$link-color: #333;

// LABELS
$label-color: #333;
