@use './colors.module.scss' as *;
@use './variables.module.scss' as *;

html,
body {
	color: $dark-grey;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	background-color: $background-color;
}

.error-input {
	color: $red !important;
	border-color: $red !important;
}

.error-message {
	color: $red;
	font-size: 0.6rem;
	font-weight: 300;
}

.full-width {
	width: 100%;
}

input::placeholder {
	font-size: 0.8rem;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

textarea {
	font-size: 0.9rem;
	resize: none;
	outline: none;
	border-color: $card-info-border-color;
	border-radius: $radius;
	background: $light-grey;
	padding: 0.25rem 0.5rem;
	color: darken($light-grey, 30);
}
