@use './colors.module.scss' as *;

html,
body {
	color: $dark-grey;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

.error-input {
	color: $red !important;
	border-color: $red !important;
}

.error-message {
	color: $red;
	font-size: 0.6rem;
	font-weight: 300;
}

.full-width {
	width: 100%;
}

input::placeholder {
	font-size: 0.8rem;
}
